.menu-icon
	position absolute
	z-index 3
	top 30px
	right 40px
	width 30px
	height 30px
	overflow hidden
	cursor pointer
	// border 2px solid darken(dark-blue, 30%)
	.icon-container
		width 90%
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
	.bar 
		display block
		margin 0 auto
		width 100%
		height 2px
		margin 5px 0
		background rgba(150, 150, 150, 1)
		transition all 100ms ease-out
		&:last-of-type 
			width 50%
	&.menu--open 
		.bar
			background rgba(255, 255, 255, 1)
		.bar:last-of-type
			width 100%
	&:hover 
		.bar:last-of-type 
			width 100%
			transition all 100ms ease-out
		
/****************************************************/
			   /* Main Content Styling */
/****************************************************/

.main-content
	position relative 
	z-index 1
	width 100%
	height 100%
	background linear-gradient(-45deg, rgba(20, 20, 20, 1) 0%, rgba(40, 40, 40, 1) 100%)
	// background url('../../images/baileyandmorgan.jpg')no-repeat center center
	// background-size cover
	// &:after 
	// 	content ''
	// 	position absolute
	// 	width 100%
	// 	height 100%
	// 	top 0
	// 	left 0
	// 	background rgba(0, 0, 0, 0.7)
	// 	z-index 1
.main-logo 
	text-transform uppercase 
	letter-spacing 0.1em
	position absolute
	z-index 2
	top 30px
	left 30px
	color rgba(150, 150, 150, 1)
.content-container 
	width 100%
	height 100%
	background transparent
	position relative
	perspective 1000px 
	backface-visibility hidden
	z-index 2
.left-side 
	width 45%
	left 5% 
	height 100% 
	float left
	position relative
.right-side 
	width 50%
	height 100%
	float right 
	background #fff
	position relative
	.gallery-container	
		position relative
		// transform translate(-50%, -50%)
		width 80%
		height 80%
		left 10%
		top 10% 
		clear both
		background url('../../images/baileyandmorgan.jpg')no-repeat center center
		background-size cover
.work-container 
	display block
	opacity 0
	color #eee
	width 80% 
	left 10%
	position absolute 
	top 50%
	transform translateY(-50%)
	.work-title 
		font-size 2em
		text-transform uppercase 
		letter-spacing 0.1em
	.type 
		font-family garamond
		letter-spacing 0.1em
		margin-top 20px
		display block
		color rgb(100, 100, 100)
		border-left 1px solid rgb(100, 100, 100)
		padding-left 20px
	.short-description 
		line-height 1.5em
		padding-top 10px
		


// Content Pagination
		
.content-navigation 
	position absolute 
	z-index 2
	left 0
	bottom 0
	width 5%
	height 100%
	background transparent
	font-size 0
	.pager-container 
		position absolute 
		top 50%
		left 50%
		transform translate(-50%, -50%)
		padding 10px
	.pager-link
		padding 0
		margin 15px 0
		border-radius 100%
		width 15px
		height 15px
		background transparent
		border 2px solid white
		list-style none
		cursor pointer
		transition background 200ms ease-out
		position relative
		user-select none
		&:hover 
			background white
			transition background 200ms ease-out
	.link--active 
		background white



// Main Header 

.main-header
	visibility hidden
	opacity 0
	width 100% 
	height 100%
	top 0
	left 0
	background rgba(70, 70, 200, 0.95)
	position absolute 
	z-index 50
.main-navigation 
	ul 
		position absolute 
		left 50%
		top 50%
		height 55%
		transform translate(-50%, -50%)
		text-align center
		list-style none
		li 
			color white
			text-transform uppercase 
			letter-spacing 0.5em
			height 33.3%
			position relative
			a, a:hover 
				color white
				text-decoration none
			a 
				position absolute
				top 50%
				left 50%
				transform translate(-50%, -50%)
				transition all 500ms ease-in
				font-weight 300
				font-size 2em
			&:hover 
				cursor pointer
				background rgba(70, 70, 200, 0.8)
	